<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Eventos App</title>
</head>
<body>
<H1>Cadastro de Eventos</H1>
<form method = "post">

    nome<input name="nome" type="text" value="">
    local<input name="local" type="text" value="">
    data<input name="data" type="date" value="">
    horario<input name="horario" type="time" value="">

    <button type="submit">Salvar</button>
</form>


</body>
</html>